@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

.App {
  text-align: center;
  
}

*{
  background-color: #FFFBF1;
  font-family: 'Montserrat';
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.header {
  text-align: center;
}
.FontAwesomeIcon {
  background-color: transparent;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.main {
 margin:3rem;
max-height: 100vh;
max-width: 100vw;
border: 5px solid;
  border-image: linear-gradient(45deg, #12c2e9, #c471ed, #f64f59) 1;
}
.cmdfDesktop {
  width:350px;
  margin: auto;
}
.blush {
  width:40%;
}
.footer {
  width:90vw;
  margin: auto;
  align-items: middle;
  padding:1rem;
display: flex;
justify-content: space-between;
}
.FooterSources {
 list-style-type: circle;
}
.FooterSources li {
  display: inline;
  padding: 0 2rem;
}
.introduction {
  display: flex;
  align-items: center;
  height: 50vh;
  justify-content: center;
}
.intro_text {
  width:40vw;
  padding:2rem;
}
.home-btns button{
  margin:1.2rem;
}
.steps {
  width:80vw;
}
.wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 2rem 0;
}
.home-card {
  width:18rem;
  background-color: #e0baba;
  border: 1px solid rgb(121, 70, 70);
  border-radius: 15px;

}
.home-card-body {
  padding:3rem 1.5rem;
  background-color: transparent;
}
h4 {
  background-color: transparent;
}
.projecttitle {
  font-weight: 700;
  background: -webkit-linear-gradient(bottom left,  #12c2e9 0%, #c471ed 66.67%, #f64f59 100%); 
    /* background-image: linear-gradient(45deg, #38a886 0%, #2f98ad 33.33%, #205791 66.67%, #FF41A0 100%); */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* mobile fix?? */
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    margin-bottom: 1.5vw;
}

.Container {
  width: 90%;
  height:80%;
  margin: 5%;
  padding: 3%;
  background-color: transparent;
}

.Container Button{
  display: inline;
  background-color: #FFE1E1;
  color: black;
  font-weight: 500;
  font-size: 24px;
  border-radius: 41px;
  padding: 1rem 2rem;
}

.Container Button:hover,
.Container Button:active {
  background: #6C91DB;
  color: #ffffff;
}

#interest Button{
  background-color: #FFE1E1;
  color: black;
  font-weight: 500;
  font-size: 24px;
}

#platform Button{
  background-color: #FFE1E1;
  color: black;
  font-weight: 500;
  font-size: 24px;
}

h1 {
  font-weight: 500;
}

p {
  font-weight: 400;
  font-size: 20px;
}

.form-group	{
  font-weight:500;
  font-size: 30px;
}

.form-control:valid {
  background-color:  #ffffff!important;
  font-size: 24px;
  border-radius: 41px;
  padding: 2rem 2rem;
}

.card {
  width: '25rem';
   height: '10rem'; 
   border-radius:'25px';
   border: transparent;
}
#suggestions .card {
  text-align: center;
  border:none !important;
}
.people__rounded-card .card {
  background-color:transparent !important;
  border:none !important;
  width:'10rem';
  text-align: center;
  border-radius: 25px;
 
}
.btn .card-body {
  border: transparent !important;
}
.people__rounded-card-pfp {
  object-fit: cover; 
  height:15rem; 

 margin: 0;
 margin-bottom: .8rem;
}
.people__rounded-card-pfp {
  border-radius: 25px !important;
}
.card-deck {
  padding:2rem;
  background-color: transparent; 
  border:none !important;
}

.people__rounded-card-link {
  text-decoration: none;
  color: black;
  background-color: transparent;
  }
.people__rounded-card-link:hover {
text-decoration: none;
border: 2px solid #12c2e9;
background-color: transparent;
}
